<h1><%= @restaurant.name %></h1>
<p> ( <%= @restaurant.category %> cuisine )</p>
<p><%= @restaurant.address %> - <%= @restaurant.phone_number %></p>

<%= link_to "Back to restaurants", restaurants_path %>

<%# Add a review %>
